@import 'variables';
@import 'components';
@import '~bulma';
@import '~buefy/src/scss/buefy';

body {
  cursor: default;
}

.is-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-muted {
  color: #6c757d!important;
}
